<ion-header>

  <ion-navbar>
    <ion-title>{{ photo.title }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-start round color="primary" (click)="addComment()" [disabled]="isenabled">
        <ion-icon name="add"></ion-icon>
        Add Comment
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="!photo.url" class="item-profile" text-center #profilePic [style.background-image]="'url(' + photo.thumbnailUrl + ')'"></div>
  <div *ngIf="photo.url" class="item-profile" text-center #profilePic [style.background-image]="'url(' + photo.url + ')'"></div>

  <div class="item-detail" padding>
    <h2>{{photo.title}}</h2>
    <button ion-button icon-start block outline [disabled]="isenabled">
      <ion-icon name="thumbs-up"></ion-icon>
      Like
    </button>

    <div *ngIf="isLoading" text-center>
      <p>Please Wait, loading Comments... </p>
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <div *ngIf="!isLoading">
      <div *ngFor="let comment of comments">
        <div class="dialogbox">
          <div class="body">
            <span class="tip tip-left"></span>
            <div class="message">
              <span>{{comment.body}}</span>
              <br>
              <span>By: {{comment.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>
